.dropdown {
  button {
    padding-right: 30px;
  }
  &__icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.wrap-select {
  min-width: 140px;
  margin-right: 10px;
  &__indicator-separator {
    display: none;
  }
  &__value-container {
    justify-content: center;
    width: 130px;
  }
  &__dropdown-indicator {
    svg {
      path {
        fill: #11a6b0;
      }
    }
  }
  &__placeholder {
    white-space: nowrap;
  }
  &__menu {
    border-color: #11a6b0;
    display: block;
  }
  &__option {
    &--is-selected, &:hover {
      background-color: #11a6b0 !important;
      color: white !important;
    }
    &--is-focused {
      background-color:transparent !important;
      color: black !important;
      &.wrap-select__option--is-selected{
        background-color: #11a6b0 !important;
        color: white !important;
      }
    }
    
  }
}
