.modal-user {
  padding: 30px 40px 40px;
  max-width: 915px;
  .close {
    opacity: 1;
    outline: none;
  }
  .modal-title {
    font-size: 24px;
    font-weight: bold;
  }
  .wrap-select {
    margin-right: 0;
  }
  .wrap-select__value-container {
    justify-content: flex-start;
    // height: 59px;
  }
  .modal-body {
    padding: 30px 40px 10px;
  }
  .linkTop {
    position: absolute;
    right: 80px;
    font-size: 20px;
    button {
      border: none;
      color: #05486c;
    }
  }
}
.modal-assign {
  max-width: 915px;
  .close {
    opacity: 1;
    outline: none;
  }
  .box-control {
    padding: 30px 0 0 0;
  }
  .modal-header {
    padding: 0 0 30px;
  }
  .modal-content {
    padding: 30px 40px;
    background: #f9f9f9;
  }
  .modal-body {
    padding: 0;
  }
  &__inner {
    height: 340px;
    width: 835px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 20px;
    .form-row {
      border-bottom: 1px solid #a5a7aa;
      .form-group {
        margin-top: 1rem;
        .form-custom .form-control[type='radio'] + label:before {
          border-color: #c7c7cc;
        }
      }
    }
  }
}
