.notification-container {
  width: 500px !important;
  padding: 0px !important;
}
.notification {
  border-radius: 4px !important;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2) !important;
  opacity: 1 !important;
  &.notification-success {
    background-color: #fff;
    border-left: 5px solid #11a6b0;
    .title {
      color: #282828;
      font-size: 18px;
      font-family: Helvetica, sans-serif;
      white-space: nowrap;
      margin-bottom: 0;
      padding: 15px;
    }
    &:before {
      content: '\F058';
      color: #11a6b0;
      font-size: 44px;
    }
    &:after {
      content: '';
      position: absolute;
      top: 10px;
      right: 15px;
      display: block;
      width: 12px;
      height: 12px;
      background: url(../images/combined-shape@2x.png) no-repeat center;
      background-size: contain;
    }
  }
}
