.page-title {
  font-family: Helvetica;
  font-size: 24px;
  font-weight: bold;
  color: #282828;
  padding: 40px 0 30px;
  border-bottom: 1px solid #a5a7aa;
  margin-bottom: 30px;
}
.form-title {
  font-size: 20px;
  color: #8e8e93;
  font-family: Helvetica;
  margin-bottom: 15px;
}
.box-alert {
  font-size: 12px;
  display: flex;
  align-items: center;
  height: 100%;
  &__inner {
    background: #f9f9f9;
    border: 1px solid #bbb;
    padding: 9px 14px 9px 32px;
    border-radius: 4px;
    color: #444444;
    position: relative;
    margin-right: -10px;
  }
  &__icon {
    position: absolute;
    left: 10px;
    top: 13px;
    font-size: 20px;
  }
}
.form-row-detail {
  margin-left: -18px;
  margin-right: -18px;
  .form-group {
    padding: 0 18px;
    margin-bottom: 30px;
  }
}
.meetingAvailability {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  .form-row-detail .form-group{
    margin-bottom: 0;
  }
}
