.titleCalendar {
  font-size: 20px;
  color: #8e8e93;
  padding: 0;
  align-items: center;
  & > p{
    margin-bottom: 0;
  }
}
.select-year {
  width: 50px;
  min-width: 100px;
}
.select-month {
  width: 130px;
  min-width: 130px;
}
.wrapper-calendar {
  .DayPickerNavigation_button {
    display: none;
  }
}