.selectHour {
  background-color: white;
  padding: 0 10px;
  .titleTable {
    font-size: 20px;
    color: #8e8e93;
    padding: 0;
    p {
      margin-top: 7px;
    }
  }
  table {
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px 20px;
    table-layout: fixed;
    width: 100%;
    td {
      padding: 5px 15px;
      border-radius: 18px;
      font-size: 16px;
      color: #8e8e93;
      background-color: #f9f9f9;
      border-radius: 18px;
      border: solid 1px #e5e5ea;
      font-weight: 200;
      box-sizing: border-box;
      &:hover {
        cursor: pointer;
        background-color: #11a6b0;
        border-color: #11a6b0;
        color: white;
        transition: all 0.3s;
        font-weight: bold;
      }
      &.active {
        background-color: #11a6b0;
        border-color: #11a6b0;
        color: white;
        font-weight: bold;
      }
      &.notActive {
        opacity: 0.3;
        pointer-events:none;
      }
    }
  }
}
